@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700,300,100);

body{
    z-index: 0;
    font-family: 'Noto Sans Japanese', sans-serif;
    color: #000000;
    line-height: 2;
    font-size: 100%;
    font-weight: 300;
    letter-spacing: 2px;
    width: 100%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    background-color: #ffffff;
}
h1{
    font-family: 'Josefin Sans', 'Noto Sans Japanese', sans-serif;
    font-size: 50px;
    font-weight: 600;
}
h2{
    font-family: 'Josefin Sans', 'Noto Sans Japanese', sans-serif;
    font-weight: 600;
    font-size: 45px;
}
h3{
    font-family: 'Josefin Sans', 'Noto Sans Japanese', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
header{
    line-height: 0;
}

/*TOPヘッダー*/
.welcome_top{
    overflow: hidden;
    width: 100%;
    height: 800px;
    position: relative;
}
#welcome_top_banner_01,
#welcome_top_banner_02,
#welcome_top_banner_03{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 800px;
    width: 100%;
}
#welcome_top_banner_01{
    background-image: url(../img/welcome_top_01_pc.jpg);
}
#welcome_top_banner_02{
    background-image: url(../img/welcome_top_02_pc.jpg);
}
#welcome_top_banner_03{
    background-image: url(../img/welcome_top_03_pc.jpg);
}
#welcome_top_logo{
    background-image: url(../img/welcome_logo_pc.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 30%;
    z-index: 10;
}
.swiper-wrapper{
    position: relative;
    z-index: 5;
}

/*CONCEPT*/
#welcome_concept{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    margin-top: -150px;
    padding: 200px 10% 0;
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 80%);
}
.welcome_concept_content{
    position: relative;
    width: 100%;
    height: 650px;
    padding: 20px 0;
}
.welcome_concept_caption{
    font-size: 24px;
}
.welcome_concept_text{
    max-width: 800px;
    margin: 20px auto 0;
    text-align: left;
}
.welcome_concept_photo{
    background-image: url(../img/welcome_concept_pc.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 40%;
}

/*BRAND*/
#welcome_brand{
    line-height: 0;
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 5;
    overflow: hidden;
    background-color: #000000;
    -webkit-clip-path: polygon(0 0, 100% 30%, 100% 70%, 0% 100%);
    clip-path: polygon(0 0, 100% 30%, 100% 70%, 0% 100%);
}
#welcome_brand img{
    min-width: 1280px;
    width: calc(100% + 800px);
    position: absolute;
    top: -500px;
    left: -500px;
    z-index: 5;
    transition: all 0.3s;
}
#welcome_brand img:hover{
    opacity: 0.5;
    transition: all 0.3s;
}
#brand_wrapper{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    background-color: #000000;
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
}

/*FEATURE*/
.welcome_feature_head{
    text-align: center;
    margin-top: 100px;
}
.welcome_feature_caption{
    text-align: center;
    font-size: 24px;
}
#welcome_feature_content{
    width: 100%;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}
.welcome_feature_text{
    width: 50%;
    height: 600px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 50px 10% 0;
    float: left;
    position: relative;
    z-index: 100;
    clear: both;
}
.welcome_feature_text p{
    margin-top: 20px;
}
.welcome_feature_quality .welcome_feature_text,
.welcome_feature_quality .welcome_feature_photo,
#feature_quality_wrapper{
    margin-top: -67px;
}
.welcome_feature_selected .welcome_feature_text,
.welcome_feature_selected .welcome_feature_photo,
#feature_selected_wrapper{
    margin-top: -134px;
}
.welcome_feature_fresh,
.welcome_feature_quality,
.welcome_feature_selected{
    width: 100%;
    height: 650px;
}
#feature_fresh_wrapper{
    height: 650px;
    width: 50%;
    float: right;
    position: relative;
    background-color: #ffffff;
    z-index: 30;
}
.welcome_feature_fresh .welcome_feature_photo{
    background: url(../img/welcome_feature_01_pc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: 25;
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
}
#feature_quality_wrapper{
    height: 650px;
    width: 50%;
    float: right;
    position: relative;
    background-color: #ffffff;
    z-index: 20;
}
.welcome_feature_quality .welcome_feature_photo{
    background: url(../img/welcome_feature_02_pc.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 650px;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: 15;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}
#feature_selected_wrapper{
    height: 650px;
    width: 50%;
    float: right;
    position: relative;
    background-color: #ffffff;
    z-index: 10;
}
.welcome_feature_selected .welcome_feature_photo{
    background: url(../img/welcome_feature_03_pc.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 650px;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: 5;
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
}

/*PRODUCE*/
#welcome_produce,
.welcome_produce_wrapper{
    background-color: #000000;
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
}
#welcome_produce{
    position: relative;
    z-index: 100;
    margin-top: -290px;
    padding-top: 50px;
}
.welcome_produce_wrapper{
    position: absolute;
    z-index: 101;
}
.welcome_produce_head{
}
.welcome_produce_content{
    width: 100%;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10%;
    text-align: center;
    overflow: hidden;
}
#welcome_produce_map img{
    width: 1000px;
    margin-top: 100px;
}
#welcome_produce_map{
    width: 1000px;
    margin: auto;
    position: relative;
}
#welcome_produce h3{
    font-size: 30px;
    font-weight: 400;
}
.africa_text{
    width: 0;
    line-height: 1;
    position: absolute;
    top: 320px;
    left: 0;
}
#africa_line{
    position: absolute;
    top: 310px;
    left: 120px;
}
.asia_text{
    width: 0;
    line-height: 1;
    position: absolute;
    top: 295px;
    left: 480px;
}
#asia_line{
    position: absolute;
    top: 280px;
    left: 365px;
}
.ncac_text{
    line-height: 1;
    width: 350px;
    position: absolute;
    top: 240px;
    left: 710px;
}
#ncac_line{
    position: absolute;
    top: 250px;
    left: 580px;
}
.sa_text{
    width: 290px;
    line-height: 1;
    position: absolute;
    top: 320px;
    left: 790px;
}
#sa_line{
    position: absolute;
    top: 310px;
    left: 670px;
}
.line_wrapper{
    overflow: hidden;
    position: absolute;
    top: 200px;
}
#welcome_produce a{
    text-decoration: none;
    color: #ffffff;
    transition: all .3s;
}
#welcome_produce a:hover{
    color: #aaaaaa;
    background-color: transparent;
    font-size: 1.03em;
}
.africa_text:hover + .popup_produce_africa{
    display: inline;
}
.popup_produce_africa{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    background-image: url(../img/welcome_produce_africa.jpg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    border-radius: 10px;
    border: solid 1px rgba(0,0,0,0.1);
    position: absolute;
    top: 80px;
    left: 0;
    padding-right: 5px;
    display: none;
    animation: show 0.3s linear 0s;
}
.asia_text:hover + .popup_produce_asia{
    display: inline;
}
.popup_produce_asia{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    background-image: url(../img/welcome_produce_africa.jpg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    border-radius: 10px;
    border: solid 1px rgba(0,0,0,0.1);
    position: absolute;
    top: 60px;
    left: 300px;
    padding-right: 5px;
    display: none;
    animation: show 0.3s linear 0s;
}
.asia_text:hover + .popup_produce_asia{
    display: inline;
}
.popup_produce_asia{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    background-image: url(../img/welcome_produce_africa.jpg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    border-radius: 10px;
    border: solid 1px rgba(0,0,0,0.1);
    position: absolute;
    top: 20px;
    left: 260px;
    padding-right: 5px;
    display: none;
    animation: show 0.3s linear 0s;
}
.ncac_text:hover + .popup_produce_ncac{
    display: inline;
}
.popup_produce_ncac{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    background-image: url(../img/welcome_produce_africa.jpg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    border-radius: 10px;
    border: solid 1px rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 730px;
    padding-right: 5px;
    display: none;
    animation: show 0.3s linear 0s;
}
.sa_text:hover + .popup_produce_sa{
    display: inline;
}
.popup_produce_sa{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    background-image: url(../img/welcome_produce_africa.jpg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    border-radius: 10px;
    border: solid 1px rgba(0,0,0,0.1);
    position: absolute;
    top: 80px;
    left: 750px;
    padding-right: 5px;
    display: none;
    animation: show 0.3s linear 0s;
}
#welcome_produce h3{
    cursor: pointer;
}
.produce_location_head{
    font-family: 'Noto Sans Japanese', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    width: 50%;
    float: right;
    padding: 10px 10px 0;
    text-align: left;
}
.produce_location_text{
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    float: right;
    clear: both;
    text-align: left;
    color: #000000;
    font-size: 12px;
    line-height: 15px;
    border-top: dotted 2px #999999;
}
@keyframes show{
    from{
        opacity: 0;
        transform: scale(1.1);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/*ORIGINAL BLEND*/
#welcome_blend_content{
    width: 100%;
    height: 900px;
    color: #ffffff;
    background-color: #000000;
    background-image: url(../img/welcome_blend_bg_pc.jpg);
    background-size: calc(100% + 700px);
    background-position: 0px -1000px;
    text-align: center;
    box-sizing: border-box;
    padding: 150px 5%;
    margin-top: -150px;
}
#welcome_blend_text h4{
    margin-top: 20px;
}
#welcome_blend_text p{
    padding: 20px;
    text-align: left;
    max-width: 1400px;
    margin: 0 auto 80px;
}
.button {
    font-family: 'Josefin Sans', 'Noto Sans Japanese', sans-serif;
    font-weight: 300;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
    line-height: 54px;
    text-align: center;
}
.button a:hover{
    background: none;
}
.button:hover {
    border: solid 1px rgba(255,255,255,0.5);
    font-size: 1.05em;
}
.button::before,
.button::after {
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.button::before {
    right: 0;
}
.button::after {
    left: 0;
}
.button:hover::before,
.button:hover::after {
    width: 0;
    background-color: #59b1eb;
}
.button::before,
.button::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.button,
.button::before,
.button::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

/*BREW*/
#welcome_brew_content h2{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}
#welcome_brew_content{
    background-color: #000000;
    width: 100%;
    height: 1000px;
    margin-top: -200px;
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 85%, 0% 100%);
}
#brew_wrapper{
    width: 100%;
    height: 1000px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    background-color: #000000;
}
#welcome_brew_photo{
    background-image: url(../img/welcome_brew_pc.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 50%;
    margin-top: 50px;
    height: 1000px;
}
#welcome_brew_text{
    width: 50%;
    height: 800px;
    float: right;
    box-sizing: border-box;
    margin-top: 130px;
    padding: 50px 80px;
    color: #ffffff;
}
#welcome_brew_point{
    margin-top: 30px;
}
#welcome_brew_point h4{
    margin-left: -20px;
}
#welcome_brew_point li{
    list-style: disc;
}
#welcome_brew .button{
    margin-top: 150px;
    border: solid 1px rgba(255,255,255,0.2);
}
#welcome_brew .button:hover{
    background-color: rgba(255,255,255,0.05);
}

/*ORDER*/
#welcome_order{
    width: 100%;
    height: 1000px;
    text-align: center;
    margin: -100px auto 0;
    padding-top: 100px;
    background-image: url(../img/welcome_order_bg_pc.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 15;
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
}
#welcome_order_content{
    height: 800px;
    padding: 50px 0;
}
.order_box{
    width: 20%;
    height: 250px;
    margin: 100px auto 0;
    display: inline-block;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.order_text{
    width: 50%;
    height: 250px;
    box-sizing: border-box;
    padding: 40px 0 10px 10px;
    margin: auto;
    text-align: left;
    font-size: 14px;
    overflow: hidden;
}
.order_box:nth-child(2n){
    background-color: rgba(80,20,40,0.5);
}
#welcome_order_content .button{
    margin-top: 100px;
    width: 300px;
}
/*COTACT*/
#welcome_contact_content{
    width: 100%;
    margin-top: -105px;
    background-image: url(../img/welcome_contact_bg_pc.jpg);
    background-size: calc(100% + 700px);
    background-position: 0 -900px;
    overflow: hidden;
}
#welcome_contact_mail h2{
    width: 200px;
    float: left;
    background-image: url(../img/welcome_contact_mail.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 150px 25px;
}
#welcome_contact_mail{
    width: 100%;
    height: 400px;
    color: #ffffff;
    background: rgba(0,0,0,0.6);
    box-sizing: border-box;
    text-align: left;
    padding: 150px;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
    clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
}
#welcome_contact_twitter h2{
    width: 300px;
    float: right;
    background-image: url(../img/welcome_contact_twitter.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 10px 25px;
}
#welcome_contact_twitter{
    width: 100%;
    height: 400px;
    color: #ffffff;
    background: rgba(0,0,0,0.3);
    box-sizing: border-box;
    text-align: right;
    padding: 150px;
    margin-top: -100px;
    position: relative;
    -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 75%);
    clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 75%);
}
#welcome_contact_facebook h2{
    width: 360px;
    float: left;
    background-image: url(../img/welcome_contact_facebook.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 310px 22px;
}
#welcome_contact_facebook{
    width: 100%;
    height: 400px;
    color: #ffffff;
    background: rgba(0,0,0,0.6);
    box-sizing: border-box;
    text-align: left;
    padding: 150px;
    margin-top: -100px;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
    clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
}
#welcome_contact_content a:hover{
    text-shadow: 1px 1px 10px #ffffff;
    transition: all 0.3s;
}

/*footer*/
footer{
    height: 250px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-top: -100px;
    -webkit-clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0% 100%);
}
#footer_content{
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 130px;
}
#footer_logo img{
    width: 100px;
}
#footer_content small{
    font-size: 12px;
}